/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 14.5%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    opacity: 100%; /*Transparent effect*/
    text-align: center;
    background-color: rgba(17, 17, 17, 0); /* Black*/
    overflow-y:hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px; /* Place content 5pixels from the top */
    transition: 1.1s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav input{
    width: 80%;
    border-width: 5px;
    border-style:solid;
    background-color:azure;
    text-align: center;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    top: 30%;
    left: 14.7%;
    width: 80%;
    height: 100%;
  }
  
  #timeRef{
    color: #ffffff;
    padding-left: 11%;
    font-size: 18px;
  }

  #dateRef{
    color: #ffffff;
    padding-left: 10%;
    font-size: 18px;
  }

  #dayRef{
    color: #ffffff;
    padding-left: 10%;
    padding-top: 7%;
    font-size: 18px;
  }
  #displayPollution{
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding-left: 10%;
    padding-top: 108%;
  } 
  .sidenav h1 {
    padding: 8px 8px 8px 32px;
    font-size: 35px;
    color: #818181;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .mystyle {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }