* {
    margin: 0px;
}

body {
    font-family: Verdana, sans-serif;
    overflow: hidden;
    background: black;
}

.mySlides {
    display: none;
    width:100%;
    height: 100%;
}

.mySlides:after{
    content: '';
    position: absolute;
    background-image: url(/img/maksa.png);
    opacity: 80%;
    top: 0px;right: 0px;bottom: 0px;left: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
}

img {
    z-index: 1;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: fixed;
  margin: auto;
}

/* Caption text */
.text {
  margin: auto;
  color: #f2f2f2;
  font-size: 55px;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 20%;
  left: 8%;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

  @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

